<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Доверенности</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less'%}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.js"></script>
</head>
<body>
	<div class="main-wrapper">
		<h1>Доверенности</h1>
		<div class="form">
			<p style="display:none;" id="id_obj">{{ obj.id }}</p>
			<p style="display:none;" id="name_obj">Doverennosti</p>
			<p><label class="token">Номер:{{ Doverennosti.Nomer }}</label><label>от:{{ Doverennosti.Data }}</label></p>
			<p><label>Дата действия:{{ Doverennosti.DataDeystviya }}</label></p>
			<p><label>Организация:{{ Doverennosti.Organizatsiya }}</label></p>
			<p><label>Банк. счет:{{ Doverennosti.BankovskiySchetOrganizatsii }}</label></p>
			<p><label>Физ. лицо:{{ Doverennosti.FizLitso }}</label></p>
			<p><label>Должность:{{ Doverennosti.Dolzhnost }}</label></p>
			<p><label>Контрагент:{{ Doverennosti.Kontragent }}</label></p>
			<p><label>Договор:{{ Doverennosti.DogovorKontragenta }}</label></p>
			<p><label>Заказ: {{ Doverennosti.SdelkaZakazPostavschiku }}</label></p>
			
		</div>	
	
	
	
	{# Вкладки #}
	
	<ul id="myTabs" class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#Tovary" id="tovary-tab" role="tab" data-toggle="tab" aria-controls="tovary" aria-expanded="true">Товары</a></li>
	    <li role="presentation"><a href="#dopolnitelno" role="tab" id="dopolnitelno-tab" data-toggle="tab" aria-controls="dopolnitelno">Дополнительно</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
	
	
	
	{# Товары #}
	
	<div id="Tovary" role="tabpanel" class="tab-pane fade in active" aria-labelledby="tovary-tab">
		<button class="add btn btn-default btn-xs" id="addTovary">Добавить</button>
		<button class="save btn btn-default btn-xs">Сохранить</button>
		<button class="del btn btn-default btn-xs">Удалить</button>
		<table border="1" class="table table-hover">
			<tr>
				<td id="del" style="display:None;">Del</td>
				<td>№</td>
				<td>Наименование товара</td>
				<td>Единица</td>
				<td>Колличество товара</td>
			</tr>
			{% for tovar in mytovary %}
				<tr class="tovar">
					<td id="del" style="display:None;">{{tovar.PometkaUdaleniya}}</td>
					<td><div id="id_subobj">{{tovar.initial.id}}</div></td>
					<td>{{ tovar.NaimenovanieTovara }}</td>
					<td>{{ tovar.EdinitsaPoKlassifikatoru }}</td>
					<td>{{ tovar.Kolichestvo }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
	
	
	{# Дополнительно #}
	
	<div id="dopolnitelno" role="tabpanel" class="tab-pane fade" aria-labelledby="dopolnitelno-tab">
		<div class="form">
			<span>Печать</span>
			<div>
				<p><label>Получение от:{{ Doverennosti.NaPoluchenieOt }}</label></p>
				<p><label>По документу:{{ Doverennosti.PoDokumentu }}</label></p>
			</div>
			<p></p>
			<span>Дополнительная аналитика</span>
			<div>
				<p><label>Подразделение:{{ Doverennosti.Podrazdelenie }}</label></p>
				<p><label>Ответственный:{{ Doverennosti.Otvetstvennyy }}</label></p>
			</div>
		</div>
	</div>
		
	
	
	{# футер #}
	
	<div class="form">
		<p><label>Комментарий:{{ Doverennosti.Kommentariy }}</label></p>
	</div>
	
	
	
	
	
	<div style="display: none;">
	
	{# строка Товары #}
	
	<table class="addTovary table table-hover">
		<tr class="new">
			<td></td>
			<td>{{ TovaryForm.NaimenovanieTovara }}</td>
			<td>{{ TovaryForm.EdinitsaPoKlassifikatoru }}</td>
			<td>{{ TovaryForm.Kolichestvo }}</td>
		</tr>
	</table>
	
	
	
	
	</div>
	
	
	<button class="saveObj btn btn-default btn-xs">Сохранить объект</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static 'js/docscript.js' %}"></script>
<script src="{% static 'js/Doverennosti.js' %}"></script>
</body>
</html>