{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Справочник</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less'%}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.js"></script>
	</head>
	<body>
		<div class="main-wrapper">
		<h1>{{verb_name}}</h1>
		<div class="form">
			{{ form.as_p }}
		</div>
			
		<button class="saveObj btn btn-default btn-xs">Сохранить объект</button>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript">
		$( document ).ready(function() {

			function ser(el) {
			    var serialized = $(el).serialize();
			    if (!serialized) // not a form
			        serialized = $(el).find('input[name],select[name],textarea[name]').serialize();
			    return decodeURIComponent(serialized.replace(/\+/gi, " "));
			}
			
			$(".saveObj").on( "click", function() {
				var arr = [];
				arr.push(window.location.href.toString().split('/')[3]);
				arr.push(window.location.href.toString().split('/')[4]);
				arr.push(ser($('body').find('.form')));
				$.ajax({
					type: "POST",
					url: '/saveObj/',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(arr),
					success: function(data)
					{
						location.reload(true);
					}
				});
			});
		});
		</script>
		<script type="text/javascript">
			$('#myTabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			})
		</script>
	</body>
</html>