<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Поступления товаров и услуг</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less'%}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.js"></script></head>
<body>
<div class="main-wrapper">	
<style type="text/css">
	.dropdown{
		display: inline-block;
	}
</style>
<h1>Поступления товаров и услуг</h1>
<div class="formTovary" style="display:none;"></div>
<div class="form">
	<p>Тип цен: {{ PostuplenieTovarovUslug.TipTSen }}</p>
	<p style="display:none;" id="id_obj">{{ obj.id }}</p>
	<p style="display:none;" id="name_obj">PostuplenieTovarovUslug</p>
	<p><label class="token">Номер:{{ PostuplenieTovarovUslug.Nomer }}</label><label>от:{{ PostuplenieTovarovUslug.Data }}</label></p>
	<p><label>Организация:{{ PostuplenieTovarovUslug.Organizatsiya }}</label></p>
	<p><label>Контрагент:{{ PostuplenieTovarovUslug.Kontragent }}</label></p>
	<p><label>Сделка:</label>{{ PostuplenieTovarovUslug.SdelkaZakazPokupatelya }}</p>
	<p><label>Отразить в:</label><label>{{ PostuplenieTovarovUslug.OtrazhatVUpravlencheskomUchete }}упр.учете</label><label>{{ PostuplenieTovarovUslug.OtrazhatVBuhgalterskomUchete }}бух.учете</label><label>{{ PostuplenieTovarovUslug.OtrazhatVNalogovomUchete }}налог.учете</label></p>
	<p><label>Виды поступления: {{ PostuplenieTovarovUslug.VidPostupleniya }}</label></p>
	<p><label>Склады: {{ PostuplenieTovarovUslug.SkladOrderSklady }}</label></p>
	<p><label>Договор:</label>{{ PostuplenieTovarovUslug.DogovorKontragenta }}</p>
</div>





{# Вкладки #}

<ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Tovary" id="tovary-tab" role="tab" data-toggle="tab" aria-controls="tovary" aria-expanded="true">Товары</a></li>
    <li role="presentation"><a href="#dopolnitelno" role="tab" id="dopolnitelno-tab" data-toggle="tab" aria-controls="dopolnitelno">Дополнительно</a></li>
    <li role="presentation"><a href="#Uslugi" role="tab" id="uslugy-tab" data-toggle="tab" aria-controls="uslugy">Услуги</a></li>
</ul>


<div id="myTabContent" class="tab-content">



{# вкладка Товары #}

<div id="Tovary" role="tabpanel" class="tab-pane fade in active" aria-labelledby="tovary-tab">
	<button class="add btn btn-default btn-xs" id="addTovar">Добавить</button>
	<button class="save btn btn-default btn-xs">Сохранить</button>
	<button class="del btn btn-default btn-xs">Удалить</button>
	<table border="1" class="table table-hover">
		<tr>
			<td id="del" style="display:None;">Del</td>
			<td>№</td>
			<td>Номенклатура<button class="Nomenklatura">+</button></td>
			<td>Серия</td>
			<td>Количество</td>
			<td>Ед.<button id="EdinitsaIzmereniya">+</button></td>
			<td>К.</td>
			<td>Цена</td>
			<td>Сумма</td>
			<td>%НДС</td>
			<td>Сумма НДС</td>
			<td>Всего</td>
			<td>Заказ</td>
		</tr>
		{% for tovar in mytovary %}
			<tr class="tovar">
				<td id="del" style="display:None;">{{tovar.PometkaUdaleniya}}</td>
				<td><div id="id_subobj">{{tovar.initial.id}}</div></td>
				<td class="nomenklatura">{{ tovar.Nomenklatura }}</td>
				<td>{{ tovar.SeriyaNomenklatury }}</td>
				<td class="Kolichestvo">{{ tovar.Kolichestvo }}</td>
				<td>{{ tovar.EdinitsaIzmereniya }}</td>
				<td>{{ tovar.Koeffitsient }}</td>
				<td>{{ tovar.TSena }}</td>
				<td class="Summa">{{ tovar.Summa }}</td>
				<td>{{ tovar.StavkaNDS }}</td>
				<td class="SummaNDS">{{ tovar.SummaNDS }}</td>
				<td></td>
				<td class="selection">
					<div class="ZakazPokupatelya">{{ tovar.ZakazPokupatelya }}</div>
					<div class="VnutrenniyZakaz">{{ tovar.VnutrenniyZakaz }}</div>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>



{# Вкладка Услуги #}

<div id="Uslugi" role="tabpanel" class="tab-pane fade" aria-labelledby="uslugy-tab">
	<button class="add btn btn-default btn-xs" id="addUslugu">Добавить</button>
	<button class="save btn btn-default btn-xs">Сохранить</button>
	<button class="del btn btn-default btn-xs">Удалить</button>
	<table border="1" class="table table-hover">
		<tr>
			<td id="del" style="display:None;">Del</td>
			<td>№</td>
			<td>Номенклатура<button class="Nomenklatura">+</button></td>
			<td>Содержание услуги. доп. сведения</td>
			<td>Колличество</td>
			<td>Цена</td>
			<td>Сумма</td>
			<td>%НДС</td>
			<td>Сумма НДС</td>
			<td>Всего</td>
			<td>Подразделение<button class="Podrazdelenie btn btn-default btn-xs">+</button></td>
			<td>Заказ<button class="btn btn-default btn-xs" id="ZakazPokupatelya">+</button></td>
			<td>Статья Затрат<button class="btn btn-default btn-xs" id="StatiyaZatrat">+</button></td>
			<td>Номенклатурная группа</td>
		</tr>
		{% for tovar in myuslugy %}
				<tr class="tovar">
					<td id="del" style="display:None;">{{tovar.PometkaUdaleniya}}</td>
					<td><div id="id_subobj">{{tovar.initial.id}}</div></td>
					<td class="nomenklatura">{{ tovar.Nomenklatura }}</td>
					<td>{{ tovar.Soderzhanie }}</td>
					<td class="Kolichestvo">{{ tovar.Kolichestvo }}</td>
					<td>{{ tovar.TSena }}</td>
					<td class="Summa">{{ tovar.Summa }}</td>
					<td>{{ tovar.StavkaNDS }}</td>
					<td class="SummaNDS">{{ tovar.SummaNDS }}</td>
					<td></td>
					<td>{{ tovar.Podrazdelenie }}</td>
					<td>{{ tovar.ZakazPokupatelya }}</td>
					<td>{{ tovar.StatyaZatrat }}</td>
					<td>{{ tovar.NomenklaturnayaGruppa }}</td>
				</tr>
			{% endfor %}
	</table>
</div>



{# вкладка Дополнительно #}

	<div id="dopolnitelno" role="tabpanel" class="tab-pane fade" aria-labelledby="dopolnitelno-tab">
		<div class="form">
			<p><label>Вх. номер:{{ PostuplenieTovarovUslug.NomerVhodyaschegoDokumenta }}</label></p>
			<p><label>Вх. дата:{{ PostuplenieTovarovUslug.DataVhodyaschegoDokumenta }}</label></p>
			<p><label>Подразделение:{{ PostuplenieTovarovUslug.Podrazdelenie }}</label>
			<button class="Podrazdelenie btn btn-default btn-xs">+</button></p>
			<p><label>Ответственный:{{ PostuplenieTovarovUslug.Otvetstvennyy }}</label></p>
			<p><label>Б/счет контрагента:{{ PostuplenieTovarovUslug.BankovskiySchetKontragenta }}</label>
			<button id="BankovskiySchetKontragenta" class="btn btn-default btn-xs">+</button></p>
			<p><label>Проект:</label>
				<div class="selection">
					<div class="Proekt">
						<div class="ProektVidyRaspredeleniyaPoProektam">{{ PostuplenieTovarovUslug.ProektVidyRaspredeleniyaPoProektam }}</div>
						<div class="ProektProekty">{{ PostuplenieTovarovUslug.ProektProekty }}</div>
					</div>
					<div class="dropdown" id="Proekt">
						<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Выбрать
						<span class="caret"></span>
						</button>
					    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdownProekt">
					        <li><a class="ProektVidyRaspredeleniyaPoProektam">Виды распределения по проектам</a></li>
					        <li><a class="ProektProekty">Проекты</a></li>
					    </ul>
				   	</div>
				</div>
			</p>
			<p><label>Грузоотправитель:{{ PostuplenieTovarovUslug.Gruzootpravitel }}</label><button class="FizLitsa btn btn-default btn-xs">+</button></p>
			<p><label>Грузополучатель:{{ PostuplenieTovarovUslug.Gruzopoluchatel }}</label><button class="FizLitsa btn btn-default btn-xs">+</button></p>
		</div>
	</div>
</div>



{# футер #}

<div class="form">
		<hr>
		<p><label>Всего:<span id="summaObs"></span></label></p>
		<div style="display:none;">{{  RealizatsiyaTovarovUslug.SummaDokumenta }}</div>
        <p><label>НДС:<span id="ndsObs"></span></label></p>
	<p><label>Комментарий:{{ PostuplenieTovarovUslug.Kommentariy }}</label></p>
</div>

<button class="saveObj btn btn-default btn-xs">Сохранить объект</button>

{# Строки таблиц #}

<div style="display:none;">

{# Строка товары #}

<table class="addTovar table table-hover">
	<tr class="new">
		<td></td>
		<td class="nomenklatura">{{ TovaryForm.Nomenklatura }}</td>
		<td>{{ TovaryForm.SeriyaNomenklatury }}</td>
		<td class="Kolichestvo">{{ TovaryForm.Kolichestvo }}</td>
		<td>{{ TovaryForm.EdinitsaIzmereniya }}</td>
		<td>{{ TovaryForm.Koeffitsient }}</td>
		<td>{{ TovaryForm.TSena }}</td>
		<td class="Summa">{{ TovaryForm.Summa }}</td>
		<td>{{ TovaryForm.StavkaNDS }}</td>
		<td class="SummaNDS">{{ TovaryForm.SummaNDS }}</td>
		<td></td>
		<td>
			<div class="dropdown" id="Zakaz">
				<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Выбрать
				<span class="caret"></span>
				</button>
			    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdownProekt">
			        <li><a class="ZakazPokupatelya">Заказ покупателя</a></li>
					<li><a class="VnutrenniyZakaz">Внутренний заказ</a></li>
			    </ul>
		   	</div>
		</td>
	</tr>
</table>



{# строка Услуги #}

<table class="addUslugu table table-hover">
	<tr class="new">
		<td></td>
		<td class="nomenklatura">{{ UslugiForm.Nomenklatura }}</td>
		<td>{{ UslugiForm.Soderzhanie }}</td>
		<td class="Kolichestvo">{{ UslugiForm.Kolichestvo }}</td>
		<td>{{ UslugiForm.TSena }}</td>
		<td class="Summa">{{ UslugiForm.Summa }}</td>
		<td>{{ UslugiForm.StavkaNDS }}</td>
		<td class="SummaNDS">{{ UslugiForm.SummaNDS }}</td>
		<td></td>
		<td>{{ UslugiForm.Podrazdelenie }}</td>
		<td>{{ UslugiForm.ZakazPokupatelya }}</td>
		<td>{{ UslugiForm.StatyaZatrat }}</td>
		<td>{{ UslugiForm.NomenklaturnayaGruppa }}</td>
	</tr>
</table>
</div>



{# Dropdowns #}

<div style="display: none;">

	{# Заказ #}

	<div class="Zakaz">
		<div class="ZakazPokupatelya">{{ TovaryForm.ZakazPokupatelya }}</div>
		<div class="VnutrenniyZakaz">{{ TovaryForm.VnutrenniyZakaz }}</div>
	</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static 'js/docscript.js' %}"></script>
<script src="{% static 'js/PostuplenieTovarovUslug.js' %}"></script>
</body>
</html>